if !items.length
  if inFetch
    p 取得有标注的图像......
  else
    p 对不起，没有找到带标注的图像
else
  .list-group
    each item in items
      a.list-group-item.h-annotated-image(data-id=item._id, data-toggle='tooltip', title=paths[item._id])
        .media
          .media-left.media-middle
            img(src=`api/v1/item/${item._id}/tiles/thumbnail?height=64&width=64`)
          .media-body
            h4.media-heading #{item.name}
            p #{item.description}
