.modal-dialog(role='document')
  .modal-content
    form.modal-form(role='form')
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4.modal-title 标注样式
      .modal-body
        - element.label = element.label || {};
        .form-group
          label(for='h-element-label') 名称
          input#h-element-label.input-sm.form-control(
            type='text', placeholder='', value=element.label.value)
        .form-group
          label(for='h-element-line-width') 线宽
          input#h-element-line-width.input-sm.form-control(
            type='number', min=0, step=0.1, value=element.lineWidth)
        .form-group
          label(for='h-element-line-color') 线色
          .input-group.h-colorpicker
            input#h-element-line-color.input-sm.form-control(
              type='text', value=element.lineColor)
            span.input-group-addon
              i
        .g-validation-failed-message.hidden
      .modal-footer
        button.btn.btn-small.btn-default(type='button', data-dismiss='modal') 取消
        button.btn.btn-small.btn-primary.h-submit(type='submit') 保存
